#main-navbar{
  background-color: blue;
  float: left;
  width: 100%;
}
#navbar-container{
  float: left;
  position: relative;
  left: 50%
}
#navbar-container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  right: 50%;
}
#navbar-container ul li{
  float: left;
  display: block;
}
#navbar-container ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}
#navbar-container ul li a:hover{
  background-color: #000;
}
#onpage{
  text-decoration: underline overline;
}
#sidebar{
  position: fixed;
  right: 0%;
  height: 100%;
  width: 20%;
  background-color: red;
}
#sidebar-container ul{
  list-style-type: none;
  padding: 0;
}
#sidebar-container ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
#sidebar-container ul li a:hover{
  background-color: #000;
}
