li{
  list-style-type: none;
}
ul{
  position: relative;
}
a {
  text-decoration: none;
  color: #fff;
  position: relative;
  right: 50%;
}
#main-navbar{
  overflow: hidden;
  width: 100%;
  position: relative;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  background-color: blue;
}
#navbar-container{
  float: left;
  position: relative;
  left: 50%;
  padding: 10px 20px;
  background-color: #000;
  display: block;
}
#onpage{
  text-decoration: underline overline;
}
#sidebar{
  position: fixed;
  right: 0%;
  height: 100%;
  width: 20%;
  padding: 0;
  background-color: #000;
  text-align: center;
}
#sidebar-container{
  padding: 15px 0;
  background-color: red;
}
